{% extends 'content_base.html.twig' %}

{% block title %}Battles{% endblock %}

{% block content_class %}{{ parent() }} container-border-green p-2{% endblock %} 
{% block content_body %}
    <div class="col-sm-12">
        <h2 class="text-green">Last battles ({{ pagination.getTotalItemCount }})</h2>
        {% for battleResult in pagination %}
            <div class="card text-center my-3">
                <div class="card-header">
                    <strong>
                        Battle between {{ battleResult.firstParticipant.name }} and {{ battleResult.secondParticipant.name }}
                    </strong>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {% if battleResult.winner %}
                            <span class="fas fa-trophy text-gold"></span>
                            Winner is {{ battleResult.winner.name }}
                        {% else %}
                            <span class="fas fa-fist-raised text-primary"></span>
                            Draw
                        {% endif %}
                    </h5>
                    <p class="card-text">{{ battleResult }}</p>
                    <a href="{{ path('app_battle_result_show', {'id': battleResult.id }) }}" class="btn btn-primary btn-sm text-uppercase float-right">Show</a>
                </div>
                <div class="card-footer text-muted">
                    {{ battleResult.createdAt|ago }}
                </div>
            </div>
        {% endfor %}        
        <div class="navigation">
            {{ knp_pagination_render(pagination, null, {}, {
                'align': 'center'
            }) }}
            {% include 'per_page.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
