{% extends 'content_base.html.twig' %}

{% block title %}Heros{% endblock %}

{% block content_class %}{{ parent() }} container-border-green p-2{% endblock %} 
{% block content_body %}
    <div class="col-sm-12">
        <a href="{{ path('app_hero_create') }}" class="btn btn-primary float-right">
            Create <span class="fa fa-plus-circle"></span>
        </a>
        <h2 class="text-green">Heros ({{ pagination.getTotalItemCount }})</h2>
        <div class="table-responsive">
            <form action="" method="POST">
                <table class="table table-hover" id="list">
                    <thead>
                        <tr>
                            <th></th>
                            <th {% if pagination.isSorted('h.firstName') %} class="sorted" {% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Name', 'h.name') }}
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hero in pagination %}
                            <tr>
                                <td><input type="checkbox" name="deleteId[]" value="{{ hero.id }}"></td>
                                <td>{{ hero.name }}</td>
                                <td class="links-table">
                                    <div class="link-wrapper">
                                        <a href="{{ path('app_hero_delete', { id: hero.id }) }}" class="delete-item" data-name="hero" data-id="{{ hero.id }}" title="Delete">
                                            <span class="fa fa-trash-alt"></span>
                                        </a>
                                    </div>
                                </td>           
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="token" value="{{ csrf_token('delete_multiple') }}"/>
                <button type="submit" class="btn btn-danger">Delete checked</button>
            </form>
        </div>
        <div class="navigation">

            {{ knp_pagination_render(pagination, null, {}, {
                'align': 'center'
            }) }}
            {% include 'per_page.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/_deleteCharacter.js') }}"></script>

{% endblock %}