{% extends 'content_base.html.twig' %}

{% block title %}Monsters{% endblock %}

{% block content_class %}{{ parent() }} container-border-green p-2{% endblock %} 
{% block content_body %}
    <div class="col-sm-12">
        <h2 class="text-green">Monsters ({{ pagination.getTotalItemCount }})</h2>
        <div class="table-responsive">
            <form action="{{ path('app_monster_delete_multiple') }}" method="POST">
                <table class="table table-hover" id="list">
                    <thead>
                        <tr>
                            <th></th>
                            <th {% if pagination.isSorted('m.name') %} class="sorted" {% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Name', 'm.name') }}
                            </th>
                            <th>Left hand</th>
                            <th>Right hand</th>
                            <th>Body</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for monster in pagination %}
                            <tr>
                                <td><input type="checkbox" name="deleteId[]" value="{{ monster.id }}"></td>
                                <td>{{ monster.name }}</td>
                                <td>{{ monster.leftHand }}</td>
                                <td>{{ monster.rightHand }}</td>
                                <td>{{ monster.body }}</td>
                                <td class="links-table">
                                    <div class="link-wrapper">
                                        <a href="{{ path('app_monster_delete', { id: monster.id }) }}" class="delete-item" data-name="monster" data-id="{{ monster.id }}" title="Delete">
                                            <span class="fa fa-trash-alt"></span>
                                        </a>
                                    </div>
                                </td>           
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="token" value="{{ csrf_token('delete_multiple') }}"/>
                <button type="submit" class="btn btn-danger">Delete checked</button>
            </form>
        </div>
        <div class="my-4">
            <form action="{{ path('app_monster_create') }}" method="POST">
                <div class="form-group">
                    <input type="hidden" name="token" value="{{ csrf_token('generate') }}"/>
                    <input type="text" name="name" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Monster name">
                    <small id="nameHelp" class="form-text text-muted">Think about something catchy.</small>
                    <button type="submit" class="btn btn-primary">Generate<span class="fa fa-plus-circle"></span></button>
                </div>
            </form>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination, null, {}, {
                'align': 'center'
            }) }}
            {% include 'per_page.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/_deleteCharacter.js') }}"></script>
{% endblock %}